<!doctype html>
<html lang="{{ l|lowercase }}">
    <head>
        <title>{% block title %}{% endblock %}</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="{{ loc|tr(l,"desc") }} – {{ config.hoster_name }}" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        {% block head %}{% endblock %}
    <body>
        <div>
            {% block content %}{% endblock %}
        </div>
    </body>
</html>
